<nav>
    <ul class="navbar">
        <li><a href="">Home</a></li>
        <li><a href="">Mapa</a></li>
         
        <li><a href="https://www.instagram.com/isaque_swo/" target="_blank" rel="noreferrer noopener">Contato</a></li>        
    </ul>
</nav>

<header class="main-header-container">
    <div class="main-header container">
        <a class="main-logo" href="/">
            <i class="fas fa-utensils main-logo-icon"></i>
            <span class="main-logo-text">MapaGuapi</span>
        </a>
        
    </div>

    
</header>