{% extends "global/base.html" %}


{% block content %}

    <div id="map" style="height:83vh; width: 100%; margin: 0 auto; z-index: 1;">
        
    </div>

{{ problems|json_script:"problem-json" }}

{% endblock content %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let map = creatMap([-22.580014, -42.964325], 13);
            let problems = JSON.parse(document.getElementById('problem-json').textContent)
            let markers = L.featureGroup().addTo(map);

            for (let problem of problems){
                L.marker([problem.lat, problem.lng]).addTo(markers);
                
            }
        })
    </script>
{% endblock scripts %}




