{% extends 'global/base.html' %}

{% block title %}Dashboard ({{ user }}) | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Dashboard ({{ user }})</h2>

    {% include 'authors/partials/login_message.html' %}
    {% include 'global/partials/messages.html' %}

    <div class="authors-dashboard-container">
      <h3>Seus problemas enviados</h3>
      

      <ul>
        {% for problem in problems %}
          <li>
            <a href="{% url 'author:dashboard_problem_edit' problem.id %}">{{ problem.title }}</a> - 
            <form 
            class="inline-form form-delete" 
            action="{% url 'author:dashboard_problem_delete' %}" 
            method='POST'
            >
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ problem.id }}">
              <button class="plaintext-button" type="submit">❌</button>
            </form>
          </li>
        {% empty %}
          <li>
            <p>Você não possui receitas. Elas apareceram aqui.</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>


  {% endblock content %}